.xAxisGroup {
	z-index: 1;
}

.yAxisGroup {
	position: absolute;
	transform: rotate(90deg);
}

.yAxisGroup :last-child,
.yAxisGroup :first-child {
	transform: rotate(-90deg);
}

.wAxisGroup {
	transform: rotate(-45deg);
}

.wAxisGroup :last-child,
.wAxisGroup :first-child {
	transform: rotate(45deg);
}

.vAxisGroup :last-child,
.vAxisGroup :first-child {
	transform: rotate(135deg);
}

.vAxisGroup {
	transform: rotate(-135deg);
}
